@model WebApplication.ViewModels.UsersViewModel

<form method="post" class="container text-center w-50">
    <h2>Edit</h2>

    <p>
        <input asp-for="User.Id" value="@Model.User.Id" hidden />
    </p>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <p>
        <label asp-for="User.Email"></label><br />
        <input asp-for="User.Email" value="@Model.User.Email" class="w-75" />
    <p>
        <span asp-validation-for="User.Email"></span>
    </p>

    <p>
        <input type="submit" value="Edit" class="w-75 btn btn-success" />
    </p>
    <p>
        <a asp-action="Index" class="btn btn-danger w-75">Back</a>
    </p>
</form>