@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Table 'Genres'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>

        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.GenreName</td>
                <td>@genre.GenreDescription</td>
            </tr>
        }
    </table>
</p>
