@model WebApplication.ViewModels.Entities.ShowsViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container text-center w-50">
    <form method="post">
        <h2>Create a new entity</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

        <p>
            <label asp-for="Entity.Name"></label><br />
            <input asp-for="Entity.Name" class="w-75" />
        <p><span asp-validation-for="Entity.Name" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.ReleaseDate"></label><br />
            <input asp-for="Entity.ReleaseDate" class="w-75" />
        <p><span asp-validation-for="Entity.ReleaseDate" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Duration"></label><br />
            <input asp-for="Entity.Duration" class="w-75" />
        <p><span asp-validation-for="Entity.Duration" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Mark"></label><br />
            <input asp-for="Entity.Mark" class="w-75" />
        <p><span asp-validation-for="Entity.Mark" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.MarkMonth"></label><br />
            <input asp-for="Entity.MarkMonth" class="w-75" />
        <p><span asp-validation-for="Entity.MarkMonth" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.MarkYear"></label><br />
            <input asp-for="Entity.MarkYear" class="w-75" />
        <p><span asp-validation-for="Entity.MarkYear" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.GenreId"></label><br />
            <select asp-for="Entity.GenreId" asp-items="Model.SelectList" class="w-75"></select>
        <p><span asp-validation-for="Entity.GenreId" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Description"></label><br />
            <input asp-for="Entity.Description" class="w-75" />
        <p><span asp-validation-for="Entity.Description" class="text-danger"></span></p>

        <p>
            <input type="submit" value="Add" class="btn btn-success w-75" />
        <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
    </form>
</div>

