@using Microsoft.AspNetCore.Identity
@model WebApplication.ViewModels.RoleViewModel

<form asp-action="Edit" method="post" class="container text-center w-25">
    <input type="hidden" name="userId" value="@Model.User.Id" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.Roles)
        {
            <input type="checkbox" name="roles" value="@role.Name" class="float-left"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary w-100">Сохранить</button>
</form>
