@model IEnumerable<WebApplication.Models.User>

<div class="container text-center w-50">
    <h2>User list</h2>
    <table class="table">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Manage acces</a>
                </td>
            </tr>
        }
    </table>
</div>