@model WebApplication.ViewModels.RegisterViewModel

<form method="post" class="container text-center w-50">
    <h2>Registration</h2>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <p>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="w-75" />
        <p>
            <span asp-validation-for="Email"></span>
    </p>

    <p>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="w-75" />
        <p>
            <span asp-validation-for="Password"></span>
    </p>

    <p>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="w-75" />
        <p>
            <span asp-validation-for="PasswordConfirm"></span>
    </p>

    <p>
        <input type="submit" value="Register" class="w-75 btn btn-info" />
    </p>
</form>
